@model HotelManagASP.Models.ClientLoginViewModel

<form asp-action="Login" method="post">
    <div>
        <label for="Email">Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label for="Password">Password</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Login</button>
</form>
